<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="nav-bar"></div>
    <!-- 5-dars -->
    <!-- Ushbu darsda biz Vue yordamida elementlarni shartli ravishda qanday ko'rsatishni o'rganamiz. -->

    <div id="app">
        <!-- Dinamik ma`lumot -->
        <div class="product">
            <div class="product-image">
                <!-- Maʼlumotlar obyektimizdagi qiymatini 
                    tegimizdagi qiymatga bogʻlash uchun v-bind:src yoki :src direktivasidan foydalanamiz -->
                <img v-bind:src="image" :alt="altText" />
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>

                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>
                <p>Price: ${{ price }}</p>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <!-- bu yerda biz :image qiymatini yangilayapmiz. variantImage berilgan qimyatdan olmoqda -->
                    <p @mouseover="updateProduct(variant.variantImage)">
                        {{variant.variantColor}}
                    </p>
                </div>

                <div class="cart">
                    <p>Cart ({{ cart }})</p>
                </div>

                <div class="cart">
                    <p>Total sums ({{ total }})</p>
                </div>
                <!-- Vuega ushbu tugmadagi voqealarni tinglayotganimizni qo`shamiz v-on deymiz va keyin biz tinglayotgan voqea turini belgilaymiz :click .
                     Qo'shtirnoq ichida biz tugmani har bosish qiymatiga 1 qo'shadigan ifodadan foydalanamiz 
               <button v-on:click="cart += 1">Add to cart</button>
                 -->

                <!-- bosganimizda, function ishga tushadi button, bu bizning tegimizda ko'rsatilayotgan addToCart qiymatini oshiradi -->
                <button v-on:click="addToCart">Add to cart</button>
                <button v-on:click="decrement">decrement </button>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>